<h1>Burgers</h1>

<ul>
  {{#each burgers}}
      <li>
        {{this.burger_name}}
      </li>
  {{/each}}
</ul>

<form method ="post" action="/">
  <input type="text" name="burger_name">
  <button type="submit">Add burger</button>
</form>
